body {
    color: rgb(0, 0, 0);
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 100px;
    margin-bottom: 50px;
    height: 100%;
}

footer {
    padding: 50x 0 0;
    position: absolute;
    z-index:2;
    color: white;
    bottom: 0;
    height: 50px;
    margin-top: -50px;
    clear: both;
    padding-top: 20px;
    width: 100%;
  }


.row {
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 992px) {
    .row {
        text-align: justify;
    }
  }

.dropcap {
    font-family: cursive;
    color: black;
    float: left;
    font-size: 5rem;
    line-height: 1;
    padding: 0.1em;
}

.row-dc ::first-letter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    line-height: 0.65;
    padding-top: 0.1em;
    padding-right: 0.1em;
    padding-left: 0.1em;
    float: left;
}